##### Это червновик, а также здесь расположен код по решению заданий, не входящих в ноутбук проекта (тестирование)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
HHData = pd.read_csv('Data/dst-3.0_16_1_hh_database.csv', sep = ';')

In [3]:
HHData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [4]:
HHData.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

Задание 2.1
1 point possible (graded)
Прочитайте данные с помощью библиотеки Pandas. Перед чтением обратите внимание на разделитель внутри файла.

Чему равна размерность таблицы? Введите её в виде кортежа (число строк, число столбцов).

In [5]:
HHData.shape

(44744, 12)

Задание 2.2
1 point possible (graded)
Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

В каком формате представлен порядок слов в признаке «Пол, возраст»?

In [6]:
# <Пол , возраст , дата рождения>

Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

Какой тип данных имеют все столбцы? Введите его в поле для ответа.

In [7]:
#object

Задание 2.4
1 point possible (graded)
Обратите внимание на информацию о числе непустых значений.

Выберите все признаки, в которых есть пропуски в данных:

In [8]:
# 6   Опыт работы                      44576 non-null  object
# 7   Последнее/нынешнее место работы  44743 non-null  object
# 8   Последняя/нынешняя должность     44742 non-null  object

Задание 2.5
0.0/2.0 points (graded)
Выведите основную статистическую информацию о столбцах.

Сколько уникальных значений содержится в столбце «Опыт работы»?

In [9]:
display(HHData.describe())

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

Какая из искомых должностей самая распространённая? Введите название.

In [10]:
# 44413
# Системный администратор

Задание 3.1
1 point possible (graded)
Сколько соискателей имеет средний уровень образования (школьное образование)?

In [11]:
HHData[HHData['Образование и ВУЗ'] == '%кол%']

Empty DataFrame
Columns: [Пол, возраст, ЗП, Ищет работу на должность:, Город, переезд, командировки, Занятость, График, Опыт работы, Последнее/нынешнее место работы, Последняя/нынешняя должность, Образование и ВУЗ, Обновление резюме, Авто]
Index: []

In [12]:
display(HHData['Образование и ВУЗ'].unique())

array(['Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота, Калининград судоводительский, Организация и безопасность движения',
       'Высшее образование 1981  Военно-космическая академия им. А.Ф. Можайского, Санкт-Петербург АСУ, АСУ',
       'Среднее специальное образование 2002 Профессиональный лицей 39 г. Твери Экономический, Банковское дело',
       ...,
       'Высшее образование (Бакалавр) 2016  Воронежский государственный университет, Воронеж Факультет журналистики , Реклама и связи с общественностью, Связи с общественностью 2012 Воронежский государственный технический университет, Воронеж Естественно-технический колледж , Вычислительные машины, комплексы, системы и сети, Специалист, Техник',
       'Высшее образование 2000  Южно-Уральский государственный университет (Национальный исследовательский университет), Челябинск Приборостроительный факультет, ЭВМ 1993 Челябинский государственный университет, Челябинск Математический факультет, Математик',
       'Высшее образование 1997  Южно-Российский государственный технический университет (Новочеркасский политехнический институт), Новочеркасск ТМиР, Организация и управление технической эксплуатацией техники'],
      dtype=object)

In [13]:
def type_education(arg):
    arg = arg.split()[:3]
    if arg[0] == 'Высшее':
        return 'Высшее'
    elif arg[0] == 'Неоконченное':
        return 'Неоконченное высшее'
    elif arg[0] == 'Среднее' and arg[1] == 'специальное':
        return 'Среднее специальное'
    elif arg[0] == 'Среднее' and arg[1] == 'образование':
        return 'Среднее'
    else: return 'Не указано'
HHData['Образование'] = HHData['Образование и ВУЗ'].apply(type_education)

In [14]:
HHData = HHData.drop('Образование и ВУЗ', axis = 'columns')

In [15]:
display(HHData['Образование'].unique())

array(['Неоконченное высшее', 'Высшее', 'Среднее специальное', 'Среднее'],
      dtype=object)

In [16]:
display(HHData.describe())

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,18838,2,4
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,07.05.2019 09:50,Не указано,Высшее
freq,18,4064,3099,1261,30026,22727,3,935,2062,25,32268,33863

In [17]:
display(HHData['Образование'].value_counts()['Среднее'])

559

In [18]:
HHData['Пол'] = HHData['Пол, возраст'].apply(lambda sex: 'М' if 'Мужчина' in sex else 'Ж').astype('category') # присвоили признак Пол, и сделаем признак категориальным
HHData['Возраст'] = HHData['Пол, возраст'].apply(lambda age: age.split()[2] ).astype('int') # присвоили признак возраст, сразу в значении int
HHData = HHData.drop('Пол, возраст', axis = 'columns') # убираем ненужный столбец
display('процентов женских резюме', round(HHData['Пол'].value_counts(normalize=True)['Ж'] * 100 ,2))
display('средний возраст соискателей', round(HHData['Возраст'].mean(),2))

'процентов женских резюме'

19.07

'средний возраст соискателей'

32.2

In [19]:
HHData.head()

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,М,39
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,М,60
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,Ж,36
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,М,38
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,Ж,26

In [20]:
HHData['Опыт работы'][0]

'Опыт работы 16 лет 10 месяцев  Август 2010 — по настоящее время 8 лет 10 месяцев МАОУ "СОШ № 1 г.Немана" Системный администратор Обслуживание ПК,установка ПО, ремонт, периферийной техники, Интернет локальная сеть. Ведение Электронного журнала, сайта организации.  Август 2002 — Август  2010 8 лет 1 месяц ТС "ВЕСТЕР-ИНФО" Старший продавец, директор отдела Продажи компьютерной техники'

In [21]:
a = HHData['Опыт работы'][0]

In [22]:
def get_experience(arg):
    if arg is np.nan or arg == 'Не указано':
        return np.nan
    arg_spl = arg.split()[2:6]
    years = ['лет', 'год', 'года']
    months = ['месяц', 'месяца', 'месяцев']
    counter = 0
    for i, n in enumerate(arg_spl):
        if n in years:
            counter += int(arg_spl[i-1]) * 12
        if n in months:
            counter += int(arg_spl[i-1])
    return counter

In [23]:
a = np.nan
print(get_experience(a))

nan

In [24]:
million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
big_cities = ['Москва', 'Санкт-Петербург']

In [25]:
def get_sity(arg):
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
    big_cities = ['Москва', 'Санкт-Петербург']
    sity = arg.split()[0]
    if sity in big_cities:
        return sity
    elif sity in million_cities:
        return 'город-миллионник'
    else: return 'другие'

In [26]:
display(get_sity(HHData ['Город, переезд, командировки'][4]))

'Москва'

In [27]:
HHData['Город, переезд, командировки'][0]

'Советск (Калининградская область) , не готов к переезду , не готов к командировкам'

In [28]:
def get_sity(arg): #функция по преобразованию городов
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
    big_cities = ['Москва', 'Санкт-Петербург']
    sity = arg.split()[0]
    if sity in big_cities:
        return sity
    elif sity in million_cities:
        return 'город-миллионник'
    else: return 'другие'

def ready_to_move(arg): # функция по анализу готовности к переезду
    if ('не готова к переезду') in arg or ('не готов к переезду' in arg): # если человек не отказывается, значит он либо готов, либо хочет переехать
        return False
    else: return True

def ready_to_trip(arg):
    if 'командировка' in arg:
        if 'не готов к командировкам' in arg: # считаем, что готов,  даже если указано "готов к редким"
            return False
        else: return True
    else: return True

In [29]:
HHData['Город'] = HHData['Город, переезд, командировки'].apply(get_sity)
HHData['Готовность к переезду'] = HHData['Город, переезд, командировки'].apply(ready_to_move)
HHData['Готовность к командировкам'] = HHData['Город, переезд, командировки'].apply(ready_to_trip)

In [30]:
HHData = HHData.drop('Город, переезд, командировки', axis = 'columns')

In [31]:
HHData.head(5)

,ЗП,Ищет работу на должность:,Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Город,Готовность к переезду,Готовность к командировкам
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,М,39,другие,False,False
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,М,60,другие,False,True
2,20000 руб.,Оператор,полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,Ж,36,другие,False,True
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,М,38,другие,False,True
4,140000 руб.,Региональный менеджер по продажам,полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,Ж,26,Москва,False,True

In [32]:
display('процентов соискателей живут в Санкт-Петербурге', round(HHData['Город'].value_counts(normalize=True)['Санкт-Петербург']*100 , 0 ))

'процентов соискателей живут в Санкт-Петербурге'

11.0

In [33]:
display('процентов соискателей готовы одновременно и к переездам, и к командировкам', 
        round(HHData[ HHData['Готовность к переезду'] & HHData['Готовность к командировкам'] ].shape[0] / HHData.shape[0] * 100))

'процентов соискателей готовы одновременно и к переездам, и к командировкам'

33

In [34]:
job = ['полная занятость', 'частичная занятость', 'проектная работа', 'волонтерство', 'стажировка'] # в задании написано через Ё, но в данных волонтерство через Е, поэтому сменил
timeline = ['полный день', 'сменный график', 'гибкий график', 'удалённая работа', 'вахтовый метод']

for j in job:
    HHData[j] = HHData['Занятость'].apply(lambda x: j in x)
for t in timeline:
    HHData[t] = HHData['График'].apply(lambda x: t in x)
HHData = HHData.drop(['Занятость', 'График'], axis='columns')

In [35]:
display('ищут проектную работу и волонтёрство', HHData[HHData['проектная работа'] & HHData['волонтерство']].shape[0])

'ищут проектную работу и волонтёрство'

436

In [36]:
display('хотят работать вахтовым методом и с гибким графиком', HHData[HHData['вахтовый метод'] & HHData['гибкий график']].shape[0])

'хотят работать вахтовым методом и с гибким графиком'

2311

In [37]:
HHData['ЗП'][0].split()

['29000', 'руб.']

In [38]:
def get_currency(currency):
    
    standard_iso = {"грн":"UAH", "USD":"USD", "EUR":"EUR", "белруб":"BYN", "KGS":"KGS", "сум":"UZS", "AZN":"AZN", "KZT":"KZT"}
    currency_info = currency.split(' ')[1].replace('.', '')
    
    if currency_info == 'руб':
        return 'RUB'
    else:
        return standard_iso[currency_info]


def get_payment(payment):
    
    payment_info = payment.split(" ")
    return float(payment_info[0])
    

HHData["Обновление резюме"] = pd.to_datetime(HHData['Обновление резюме']).dt.date
HHData["Наименование валюты"] = HHData["ЗП"].apply(get_currency)
HHData["Cумма ЗП"] = HHData["ЗП"].apply(get_payment)

data_currency = pd.read_csv("data/ExchangeRates.csv", sep=",")
data_currency["date"] = pd.to_datetime(data_currency["date"], dayfirst=True).dt.date

HHData = HHData.merge(data_currency, how="left", left_on=["Обновление резюме", "Наименование валюты"], right_on=["date", "currency"])

HHData["close"] = HHData["close"].fillna(1)
HHData["proportion"] = HHData["proportion"].fillna(1)

HHData["ЗП (руб)"] = HHData["Cумма ЗП"]*HHData["close"] / HHData["proportion"]
round(HHData["ЗП (руб)"].median() /1000)

59

In [39]:
HHData[HHData['Наименование валюты'] != 'RUB']

,ЗП,Ищет работу на должность:,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,...,Наименование валюты,Cумма ЗП,currency,per,date,time,close,vol,proportion,ЗП (руб)
30,3000 бел.руб.,Engineer,Опыт работы 8 лет 2 месяца Engineer 3 000 бел...,Outsourcing,Data Engineer,2019-04-26,Не указано,Высшее,Ж,31,...,BYN,3000.0,BYN,D,2019-04-26,00:00,30.6320,0.0,1.0,91896.000
81,160000 KZT,"Системный администратор, веб-программист",Опыт работы 1 год 11 месяцев Системный админи...,Sailet,Менеджер по управлению проектами,2019-04-22,Не указано,Неоконченное высшее,М,20,...,KZT,160000.0,KZT,D,2019-04-22,00:00,16.8680,0.0,100.0,26988.800
126,217000 KZT,"Программист, Инженер-системотехник, Водитель, ...","Опыт работы 10 лет 10 месяцев Программист, Ин...","ТОО ""Идальго Актау"" Мебельный салон ""Prestige""",сборщик мебели,2019-04-26,Не указано,Высшее,М,32,...,KZT,217000.0,KZT,D,2019-04-26,00:00,17.0151,0.0,100.0,36922.767
145,2000 EUR,"Координатор проектов, редактор",Опыт работы 13 лет 4 месяца Сентябрь 2011 — п...,отдельные проекты,"координатор/ администратор, коммуникации/ сопр...",2019-05-13,Не указано,Высшее,Ж,33,...,EUR,2000.0,EUR,D,2019-05-13,00:00,73.0888,0.0,1.0,146177.600
147,5500 USD,"Разработчик ПО, аналитик, консультант","Опыт работы 14 лет 7 месяцев Разработчик ПО, ...","Canary Systems, Inc",.NET Development Team Lead (remotely),2019-04-26,Не указано,Высшее,М,37,...,USD,5500.0,USD,D,2019-04-26,00:00,64.6794,0.0,1.0,355736.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44622,100000 KZT,Учитель информатики,Опыт работы 7 лет 6 месяцев Учитель информати...,ОСШ 3 имени Абая,Учитель информатики,2019-04-25,Не указано,Высшее,Ж,30,...,KZT,100000.0,KZT,D,2019-04-25,00:00,16.8799,0.0,100.0,16879.900
44631,60000 KZT,Программист-стажер,Опыт работы 3 месяца Программист-стажер 60 00...,"ТОО “Arta Almaty""",Программист-стажер,2019-04-22,Не указано,Высшее,Ж,20,...,KZT,60000.0,KZT,D,2019-04-22,00:00,16.8680,0.0,100.0,10120.800
44664,250000 KZT,Главный инженер,Опыт работы 3 года 10 месяцев Главный инженер...,"Национальные информационные технологии, АО",Главный инженер управления телекоммуникаций,2019-04-26,Имеется собственный автомобиль,Высшее,М,26,...,KZT,250000.0,KZT,D,2019-04-26,00:00,17.0151,0.0,100.0,42537.750
44685,1000 USD,PHP программист,Опыт работы 8 лет Март 2018 — по настоящее вр...,Freelance,Full Stack разработчик,2019-07-05,Имеется собственный автомобиль,Высшее,М,29,...,USD,1000.0,USD,D,2019-07-05,00:00,63.4013,0.0,1.0,63401.300
44736,800 бел.руб.,"мастер по ремонту, водитель,продавец-консультант",Опыт работы 10 лет 5 месяцев мастер по ремонт...,"""Электросервис и ко""",Специалист по продажам,2019-04-22,Не указано,Высшее,М,32,...,BYN,800.0,BYN,D,2019-04-22,00:00,30.5314,0.0,1.0,24425.120

In [40]:
HHData['Возраст'].mode

<bound method Series.mode of 0        39
1        60
2        36
3        38
4        26
         ..
44739    30
44740    27
44741    48
44742    24
44743    38
Name: Возраст, Length: 44744, dtype: int32>

In [41]:
HHData.min()

C:\Users\Илья\AppData\Local\Temp\ipykernel_22568\1714700703.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  HHData.min()

ЗП                                                               1 EUR
Ищет работу на должность:     "IT директор", "Руководитель ИТ отдела".
Обновление резюме                                           2018-01-06
Авто                                    Имеется собственный автомобиль
Образование                                                     Высшее
Возраст                                                             14
Город                                                           Москва
Готовность к переезду                                            False
Готовность к командировкам                                       False
полная занятость                                                 False
частичная занятость                                              False
проектная работа                                                 False
волонтерство                                                     False
стажировка                                                       False
полный день                                                      False
сменный график                                                   False
гибкий график                                                    False
удалённая работа                                                 False
вахтовый метод                                                   False
Наименование валюты                                                AZN
Cумма ЗП                                                           1.0
close                                                              1.0
vol                                                                0.0
proportion                                                         1.0
ЗП (руб)                                                           1.0
dtype: object